body {
    background-image: url("../img/impbur.jpg");
      background-attachment: fixed;
}


h1 {
    color: blue;
}

.container {
    background: rgba(250, 250, 250, 0.7);
    width: 800px;
    height: 400px;
}